In [5]:
#Import Packages

import numpy as np
from numpy import random as rd
from pykrx import stock
import scipy as sp
import pandas as pd
from scipy import optimize

In [6]:
class Optima:
    def __init__(self):
        self.var_cov_mat = None
        self.rf = 0.015
        self.ret = pd.DataFrame(np.nan, index=np.arange(data.shape[0]), columns=data.columns)
        self.tickers = None
        self.data_start = None
        self.data_end = None
        self.N = None
        self.data = None
        
    def setTickers(self, tickers):
        self.tickers = tickers
        self.N = len(self.tickers)
    
    def setDataDate(self, srt, end):
        self.data_start = srt
        self.data_end = end
        
    def loadData(self)
        raw_data = []
        for i in range(N):
            raw_data.append(stock.get_market_ohlcv_by_date(self.data_start, self.data_end, self.tickers[i])["종가"])
        self.data = pd.DataFrame(np.asarray(raw_data).T, columns = self.tickers, dtype=np.int32)
    
    def eq_constraint(cls, w):
        summation = 0
        for i in w:
            summation += i
            
        return summation - 1
    
    def flarray(cls, w):
        ret_exd = np.cumprod(self.ret) - self.rf
        return -(np.dot(np.transpose(ret_exd.iloc[-1]), w) / (np.dot(np.dot(np.transpose(w), self.var_cov_mat), w))**(1/2))

    def get_W_Max_Sharp():
        return sp.optimize.fmin_slsqp(cls.flarray, [1/self.N for i in range(self.N)], bounds=[(0,1) for i in range(self.N)], eqcons=[cls.eq_constraint])

SyntaxError: invalid syntax (<ipython-input-6-0f81d225f711>, line 20)

In [7]:
#Load Data

ETF_ticker = ["002810", "003920", "004380", "011280", "016580", "007340", "000370", "001510", "033270", "004710", "001500"]
N = len(ETF_ticker)
stocks_data = []
srt = "20010101"
end = "20191231"
for i in range(0, N):
    stocks_data.append(stock.get_market_ohlcv_by_date(srt, end, ETF_ticker[i])["종가"])


data = pd.DataFrame(np.asarray(stocks_data).T, columns=ETF_ticker, dtype=np.int32)

In [9]:
data.sum(axis=1)

0       286801
1       289909
2       290565
3       293964
4       296990
         ...
4690    542642
4691    552602
4692    550987
4693    548432
4694    556822
Length: 4695, dtype: int64

In [8]:
data

,002810,003920,004380,011280,016580,007340,000370,001510,033270,004710,001500
0,1507,252000,727,335,2612,3678,13502,2081,2110,5781,2468
1,1541,254000,731,326,2622,3678,13502,2150,2230,6641,2488
2,1591,252000,757,350,2602,3694,14195,2467,2430,7620,2859
3,1558,253000,746,353,2492,3678,16110,2833,2385,7650,3159
4,1541,255000,755,357,2652,3757,16538,3255,2350,7650,3135
...,...,...,...,...,...,...,...,...,...,...,...
4690,15709,425000,11500,4130,15800,29450,2850,603,18500,8750,10350
4691,15852,436000,11350,4100,15450,29500,2860,600,18300,8240,10350
4692,15900,433000,11500,4290,15500,29600,2840,607,18500,8750,10500
4693,16050,431000,11700,4355,15400,29350,2820,607,18250,8800,10100
4694,15900,439500,11600,4250,15450,29350,2825,607,18350,8940,10050

ret_tp = ret.iloc[50-10: 50]

In [17]:
ret_tp

,002810,003920,004380,011280,016580,007340,000370,001510,033270,004710,001500
40,1.000000,1.006098,1.013906,0.975000,0.995905,0.962750,1.001306,0.968878,1.043478,0.939759,0.986314
41,1.000000,1.010101,0.998753,0.997151,0.993832,1.020514,0.959345,1.000000,0.962500,1.023471,1.000000
42,1.000000,1.014000,1.002497,1.014286,0.997931,0.995929,1.004986,1.007787,1.034632,1.074195,1.006938
43,1.005249,0.998028,1.023661,1.008451,1.020730,0.985948,1.004886,1.016098,1.117155,0.994797,1.025764
44,1.016971,1.027668,0.979319,0.988827,1.008123,1.030578,0.997606,0.972433,0.985019,1.021280,1.025117
45,0.986521,1.038462,0.975155,1.014124,0.927478,0.980136,1.051961,0.918866,0.912548,0.947731,1.037607
46,0.959011,1.001852,0.936306,1.011142,0.956125,0.992047,0.971703,0.903191,0.925000,0.933669,1.000000
47,1.022388,1.016636,1.028571,0.986226,1.034530,1.005948,1.026700,1.126816,1.063063,1.047296,1.038440
48,0.983411,1.000000,0.990741,1.000000,0.997804,1.010283,1.146174,1.030314,1.055085,0.971799,1.000000
49,1.000000,0.963636,1.029372,0.991620,0.986356,1.000000,0.926011,0.998309,0.975904,1.023137,1.144368

In [14]:
data.iloc[1:3]

,002810,003920,004380,011280,016580,007340,000370,001510,033270,004710,001500
1,1541,254000,731,326,2622,3678,13502,2150,2230,6641,2488
2,1591,252000,757,350,2602,3694,14195,2467,2430,7620,2859

In [4]:
#Global variable
var_cov_mat = np.identity(N)
rf = 0.015
ret = pd.DataFrame(np.nan, index=np.arange(data.shape[0]), columns=data.columns)

In [5]:
#Lagrange Multiplier

def eq_constraint(w): # w값들의 합이 1이 되어야 한다.
    summation = 0
    for i in w:
        summation += i
    return summation -1

def flarray(w): #샤프지수가 최대가 되게하는 목적함수
    global var_cov_mat
    
    ret_exd = np.cumprod(ret) - 0.015
    return -(np.dot(np.transpose(ret_exd.iloc[-1]), w) / (np.dot(np.dot(np.transpose(w), var_cov_mat), w))**(1/2))

def get_W_Max_Sharp():
    return sp.optimize.fmin_slsqp(flarray, [1/N for i in range(N)], bounds=[(0,1) for i in range(N)], eqcons=[eq_constraint])

In [6]:
def w_optima(data, day, beforehand):
    data_ = data.iloc[day-beforehand:day]

    global ret

    for i in range(1, len(stocks_data[0])):
        ret.iloc[i] = data.iloc[i]/data.iloc[i-1]
    
    global var_cov_mat
    
    for i in range(0, N):
        for j in range(0, N):
            var_cov_mat[i][j] = np.cov(ret.iloc[1:,i], ret.iloc[1:,j])[0,1]
    return get_W_Max_Sharp()

#w_optima(data,100,30)

In [10]:
print(np.round(w_optima(data,200,30), 5))
print(np.round(w_optima(data,200,120), 5))

Optimization terminated successfully.    (Exit mode 0)
            Current function value: -803.7172378958029
            Iterations: 17
            Function evaluations: 229
            Gradient evaluations: 16
[0.24295 0.      0.25144 0.19293 0.03608 0.23031 0.      0.      0.04629
 0.      0.     ]
Optimization terminated successfully.    (Exit mode 0)
            Current function value: -803.7172378958029
            Iterations: 17
            Function evaluations: 229
            Gradient evaluations: 16
[0.24295 0.      0.25144 0.19293 0.03608 0.23031 0.      0.      0.04629
 0.      0.     ]

In [1]:
#var - cov matrix 생성
def getCov(a, b):
    return np.cov(a,b)


var_cov_mat_ = np.identity(N)

for i in range(0,11):
    for j in range(0,11):
        var_cov_mat_[i][j] = np.cov(ret.iloc[1:,i],ret.iloc[1:,j])[0,1]
np.round(var_cov_mat_*10000,1)

NameError: name 'np' is not defined

In [78]:
ret.iloc[1:,10]

1       1.008104
2       1.149116
3       1.104932
4       0.992403
5       0.990112
          ...
4690    0.985714
4691    1.000000
4692    1.014493
4693    0.961905
4694    0.995050
Name: 001500, Length: 4694, dtype: float64

In [69]:
getCov(ret.iloc[1:,1],ret.iloc[1:,2])

array([[4.66633372e-04, 4.56347388e-05],
       [4.56347388e-05, 8.18791749e-04]])

In [73]:
np.cov(ret.iloc[1:,1],ret.iloc[1:,6])

array([[0.00046663, 0.00010932],
       [0.00010932, 0.00102994]])