In [8]:
import pandas as pd
import numpy as np

a = pd.DataFrame(([1,2,3] , [4, np.nan, 5], [np.nan, 7 , 9]))

In [7]:
a.fillna(1111)

   0       1  2
0  1     2.0  3
1  4  1111.0  5

In [11]:
a.dropna(0)

     0    1  2
0  1.0  2.0  3